/* https://picocss.com/docs/customization.html */
/* Custom Pink version */

// Override default variables
$primary-500: #e91e63;
$primary-600: #d81b60;
$primary-700: #c2185b;

// Import Pico
@import '@picocss/pico/scss/pico';

/*h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}*/

// TODO: use only needed components for Sustainable Web Design approach,
// see: https://picocss.com/docs/customization.html
// https://github.com/picocss/pico/blob/master/scss/pico.slim.scss